<% include _header %>

<div class="jumbotron">
<p class=lead><%= poll.title %></p>
<div class="row">
  <div class="col-md-4">
    <h4>I'd like to vote for... :</h4>

      <form action="/poll/vote/<%=poll._id%>" method="post" enctype="application/x-www-form-urlencoded">
        <select class="form-control selectpicker" name="select">
            <option>Choose one...</option>
          <% poll.options.forEach(function (option) { %>
            <option><%= option.val %></option>
              <% }) %>
        </select>
        <br>
        <% if (currentUser) { %>
        <p class="lead">Add new answer:</p>
        <input name="newpoll" type="text" class="form-control" placeholder="New Poll">
        <br>
        <% } %>
        <input type="submit" value="Vote" class="btn btn-primary btn-block">
      </form>
    </div>
    <div class="col-md-8" style="width:500px">
      <canvas class="text-center" id="myChart" width="400" height="400"></canvas>
    </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
<script>

var ctx = document.getElementById("myChart");
var myChart = new Chart(ctx, {
  type: 'doughnut',
  data: {

      labels: <%-data%>,
      datasets: [
          {
              data: [<%= label %>],
              backgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56",
                  "#5C3475",
                  "#00384D",
                  "#2F7A2F",
                  "#DB5E02",
                  "#E6D086",
                  "#BC5786"

              ],
              hoverBackgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56",
                  "#5C3475",
                  "#00384D",
                  "#2F7A2F",
                  "#DB5E02",
                  "#E6D086",
                  "#BC5786"
              ]
          }]
  },
});

</script>
<% include _footer %>
